@font-face {
    font-family: Oxygen-Regular;
    src: url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Light.ttf);
}

body #container{
    height: 100%;

}

body {
    text-align: center;
    font-family: 'Oxygen';
    line-height: 1.4em;
    color: black;
}
.absolute{
    position:absolute;
    width: 100%;
}
#panelcontainer{
    position: absolute;
    box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: cover;
}

p {
    font-size: 1.4em;
}

.layer {
    width: 100%;
    height: 100%;
}

.title em {
    font-style: normal;
    font-size: 0.6em;
    color: #d92400;
}

.title {
    color: white;
    font-size: 3em;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    top: 16%;
}

@media screen {

}

html {}

a {
    color: #d92400;
}

#menu-toggle {
    @media (min-width: 800px) {
        visibility:hidden;
    }
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

button {
    cursor: pointer;
    font-size: 1.33333em;
    line-height: 45.6px;
    font-family: 'Oxygen-Regular', sans-serif;
    background-color: #f2f2f2;
    font-weight: 600;
    border-radius: 28px;
    height: 56px;
    width: 56px;
    position: relative;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
}

.accelerate {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.center {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    /* background: #f2f2f2 url(../images/panel.jpg) -7px 0; */
    background: rgba(255,255,255,0.6);
    background-size: 399px 357px;
    padding-bottom: 11px;
    @media (max-width: 800px) {
        height: 100vh;
        width: 100%;
    }
    height: 88vh;
    width: 88%;
    margin: 0 auto;
}

/* .seeThroughBG {
    background: white;
} */

.cell {
    vertical-align: middle;
    display: table-cell;
}

.panel {
    background-clip: padding-box;
    transform: translate3d(0, 0, 0);
    position: relative;
    /*overflow: scroll;*/
    height: 90%;
    overflow-x: hidden;
}

.about {
    perspective: 1000px;
    color: #2C2C2C;
    min-height: 460px;
    position: absolute;
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.about.hide .cables {
    transform: translate3d(0, -10%, 0) rotateX(-90deg);
    /* opacity: 0; */
}

.about.hide .panel {
    transform: rotateX(-20deg);
}

.about .panel, .about .cables {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}

.about .cables {
    transform-origin: 50% -100%;
}

.about .panel {
    transform-origin: 50% 0%;
}

.about .center:before {
    border-left: 1px dashed rgba(29, 31, 39, 0.2);
    position: absolute;
    display: block;
    height: 100%;
    content: '';
    left: 5%;
    top: 0;
}

.about .center:after {
    border-radius: 0 0 6px 0;
    background-clip: padding-box;
    background: transparent url(../images/compass.png) 0 0 no-repeat;
    z-index: -1;
    background-size: 224px 224px;
    position: absolute;
    display: block;
    height: 160px;
    width: 120px;
    opacity: 0.2;
    content: '';
    bottom: 0;
    right: 0;
}

.about .linkholder {
    @media (max-width: 800px) {
        display: none;
    }
    background-clip: padding-box;
    background: transparent url(../images/map.png) 0 0 no-repeat;
    background-size: 60.5px 82.5px;
}

.about .panel header:before {
    border-radius: 6px 0 0 0;
    position: absolute;
    display: block;
    height: 150px;
    width: 110px;
    opacity: 0.8;
    content: '';
    left: 0;
    top: 0;
}

.about .panel h1 {
      font-size: 3.83333em;
      font-weight: 100;
      color: #a14976;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
}

.about .panel h2 {
    font-size: 2em;
    font-weight: 100;
    color: rgba(255, 101, 102, 1);
}

.about .panel h1 .tabheading {
    color: #1d1f27;
}

.about .panel p {
    position: relative;
    z-index: 1;
	font-size: 1.5em;
}

.about .panel p strong {
    font-weight: 700;
    color: #1d1f27;
}

.about .linkholder .links {
    zoom: 1;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}
.linkholder .links {
        display: flex;
}
li .event {
    color: white;
    position: relative;
    background-color: #333;
    padding: .5em;
    width:100%;
}

li .event.active{
    background-color: #d92400;
}

li .event:hover {
    background-color: #d92400;
}
.categories {
        display: flex;
}
#categoriesnav{
    z-index: 100;
    margin: 0 0 0.5rem 0;
}
.fixedcal{
    position:fixed;
    @media (max-width: 705px) {
        position: inherit;
    }
}
.about .linkholder .links:after, .about .linkholder .links:before {
    display: table;
    content: '';
}

.about .linkholder .links:after {
    clear: both;
}

.linkholder .links li {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: 1;
}

.categories li {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: 1;
}

.links li {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100%;

}

.links li a {
    border-radius: 0 0 0 5px;
    background-clip: padding-box;
}

.about .linkholder .links li+li {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.about .linkholder .links li+li a {
    border-radius: 0 0 5px 0;
    background-clip: padding-box;
}

.links a {
    font-size: 1.33333em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em 0 1.1em;
    display: block;
}
.about .linkholder .links li a {
    width: 100%;
}
.about .linkholder .links a.github:before, .about .linkholder .links a.download:before {
    content: '';
    font-family: 'icons';
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    font-size: 0.8em;
    margin-right: 0.5em;
    margin-left: -0.8em;
    position: relative;
    top: -1px;
}

.toggle {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    margin: -28px;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.toggle-contact {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.fb-btn {
    background-color: #3b5998;
    color: white;
}

.fb-btn:hover {
    background-color: #fff;
    color: #555;
}

.youtube-btn {
    background-color: #d92400;
    color: white;
}

.youtube-btn:hover {
    background-color: #fff;
    color: #555;
}

.instagram-btn {
    background-color: black;
    color: white;
}

.instagram-btn:hover {
    background-color: #fff;
    color: #555;
}

.btn-box {
    position: absolute;
    bottom: 12%;
    width: 100%;
}


.toggle.i .cross {
    transform: rotateZ(0deg);
}

.toggle.i .cross .x {
    margin-left: -2px;
    width: 4px;
    margin-top: -12px;
}

.toggle.i .cross .y {
    margin-top: -4px;
    height: 16px;
}

.cross {
    position: absolute;
    left: 50%;
    top: 50%;
}

.cross .x, .cross .y {
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #1d1f27;
    height: 4px;
    width: 4px;
    margin: -2px;
    position: absolute;
    left: 0;
    top: 0;
}

.cross .x {
    margin-left: -12px;
    margin-top: -2px;
    width: 24px;
}

.cross .y {
    margin-top: -12px;
    height: 24px;
}

.cross {
    transform: rotateZ(45deg);
}

.cross, .x, .y {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about .panel, .about .cables {
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

button:hover {
    background-color: rgba(127, 58, 93, 1);
    color: white;
}

.toggle:hover .x, .toggle:hover .y {
    background-color: white;
}

.links a:hover {
    background-color: #d92400;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 16px;
    border-radius: 16px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: rgba(204, 92, 149, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

blockquote {
    border-left: 10px solid #ccc;
    quotes: '\201C''\201D''\2018''\2019';
    text-align: center;
    max-width: 50em;
    margin: auto;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

}

blockquote p {
  display: inline;
}

.about .linkholder {
    background-clip: padding-box;
    background: transparent url(../images/map.png) 0 0 no-repeat;
    background-size: 60.5px 82.5px;
}

.about .linkholder .links {
  zoom: 1;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.links .selected {
  background-color: rgba(255, 0, 0, 0.2);
}

/*----------------------------------------
GALLERY
----------------------------------------*/

.slideshow {
  position: relative;
  height: 100%;
  z-index: 1;
}

/*----------------------------------------
Slider 1
----------------------------------------*/
.slider {
  height: 100%;
  overflow: hidden;
}
.slider .item {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.slider .item img {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.4);
          transform: translateX(-50%) scale(1.4);
  opacity: .4;
  -webkit-filter: blur(50px) saturate(3);
          filter: blur(50px) saturate(3);
}

/*----------------------------------------
Slider 2
----------------------------------------*/
.slider-2 {
  position: absolute !important;
  z-index: 11;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 0%;
  padding-bottom: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.slider-2:before {
  content: '';
  position: absolute;
  left: -1%;
  bottom: -1%;
  width: 102%;
  height: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}
.slider-2 .item {
  height: 0;
  padding-bottom: 16%;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background: #333;
}
.slider-2 .item.slick-active {
  z-index: 10;
}
.slider-2 .item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 100%;
  width: auto;
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}
.slider-2 .slick-dots {
  bottom: 15px;
  z-index: 1;
  text-align: center;
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slider-2 .slick-dots li {
  display: inline;
  margin: 0;
  padding: 0;
}
.slider-2 .slick-dots li button {
  border: none;
  background: none;
  text-indent: -9999px;
  font-size: 0;
  width: 20px;
  height: 20px;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.slider-2 .slick-dots li button:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .7;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.slider-2 .slick-dots li.slick-active button:before {
  -webkit-transform: translate(-50%, -50%) scale(1.4);
          transform: translate(-50%, -50%) scale(1.4);
  opacity: 1;
}

/*----------------------------------------
Arrows
----------------------------------------*/
.slick-arrow {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
  width: 40px;
  height: 40px;
}
.slick-arrow:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #fff;
  /*-webkit-mask-image: url(https://image.flaticon.com/icons/svg/60/60758.svg);*/
          /*mask-image: url(https://image.flaticon.com/icons/svg/60/60758.svg);*/
  display: block;
  opacity: .5;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.slick-arrow.slick-next {
  left: auto;
  right: 10px;
}
.slick-arrow.slick-next:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slick-arrow:hover:before {
  opacity: 1;
}


