.flag {
	width: 300px;
	height: 75px;
	display: inline;
}
.flag-element {
	width:2px;
	height:75px;
	display:inline-block;
	position:relative;
	/* box-shadow:0 1px grey, 0 -1px gray; */
	-webkit-animation:	wave 0.6s ease-in-out infinite alternate;
	animation:			wave 0.6s ease-in-out infinite alternate;
}
.flag.aboutflag .flag-element {
	background-image:url('../images/AllWavingFlags/about.jpg');
}

.flag.eventsflag .flag-element {
	background-image:url('../images/AllWavingFlags/events.jpg');
}

.flag.galleryflag .flag-element {
	background-image:url('../images/AllWavingFlags/gallery.jpg');
}

.flag.sponsorsflag .flag-element {
	background-image:url('../images/AllWavingFlags/sponsors.jpg');
}

.flag.contactflag .flag-element {
	background-image:url('../images/AllWavingFlags/contact.jpg');
}

.menutext {
	text-shadow: 0px 0px 2px black;
	font-size: 150%; color: white;
}

@-webkit-keyframes wave{
	0% {	-webkit-transform:	translate3d(0,5%,0);}
	100% {	-webkit-transform:	translate3d(0,-5%,0);}
}
@keyframes wave{
	0% {	transform:	translate3d(0,5%,0);}
	100% {	transform:	translate3d(0,-5%,0);}
}
